
*{
    margin: 0;
    padding : 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    color: #191919;
}

li,
a,
button,
input {
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}

.progressbar_purple{
    width: 200px;
    height: 12px;
    border: 2px solid #4527A0;
    border-radius: 8px ;
}

.progressbar_purple .progress{
    background-color: #673AB7;
    width: 0px;
    height: 100%;
    animation: progres 4s forwards linear;
}

@keyframes progres{
    0%{
      width: 0%;
    }
    25%{
        width: 50%;
    }
    50%{
        width: 75%;
    }
    75%{
        width: 85%;
    }
    100%{
        width: 100%;
    }
}

.card{
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: #FAFAFA;
    border: 1px solid #E1E1E1;
    
}

.card:hover{
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.25);
}

.center_horizontal{
    display: inline-block;
    margin: 0 auto;
}

.edittext{
    padding: 0.8rem 0 0.8rem 2.5rem;
    background-color: #FAFAFA;
    border-radius: 4px;
    border: 1px solid #BDBDBD;
    font-weight: bold;
}



.edittext:focus{
    outline: none;
    border: 2px solid #673AB7;
}

.invalid_edittext {
    border:1px solid #F44336;
}


.icon_edittext {
    padding: 0.88rem;
    color: #673AB7;
    float: left;    
    position: absolute;
}


.character_counter {
    text-align: right;
    margin-top: 2px;
}


.container_edittext {
    position: relative;
    text-align: left;
}


.title_primary{
    font-size: 3rem;
}

.title_secondary{
    font-size: 2rem;
    color: #323232;
}

.text_normal{
    font-size: 1rem;
}

.text_disable{
    font-size: 1rem;
    color: #BDBDBD;
}

.bold{
    font-weight: bold;
}

.btn_purple{
    background-color: #673AB7;
    border-radius: 4px;
    padding: 8px 16px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #5E35B1;
    color: #FAFAFA;
    font-weight: bold;
}

.btn_purple:hover{
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.25);
}

.btn_pink{
    background-color: #E91E63;
    border-radius: 4px;
    padding: 8px 16px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #D81B60;
    color: #FAFAFA;
    font-weight: bold;
}

.btn_pink:hover{
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.25);
}

.btn_google{
    border-radius: 8rem;
    padding: 8px 16px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #7D7D7D;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1rem;
    width: 60%;
    font-weight: bold;
}


.btn_google:hover{
    padding: 8px 16px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.25);
}

.divider{
    height: 1px;
    border: none;
    background: #BDBDBD;
}

.margin_top{
    margin-top: 1rem;
}

.padding_2{
    padding: 2rem;
}

.padding_1{
    padding: 1rem;
}

.error{
    color: #F44336
}

.container_purple{
    background-color: #7B1FA2;
    overflow: auto;
}

.container_tabs{
    background-color: #6A1B9A;
}

.tab{
    font-size: 1.2rem;
    color: #FAFAFA;
    display: inline-block;
    padding: 1rem;
    cursor: pointer;
}

.tab:hover{
    color: #191919;
    background-color: #F8BBD0;
}

.active{
    background-color: #E91E63;
}


