.container_root{
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.container_subjects{
    flex: 1;
    overflow-y: scroll;
}

.btn_purple {
    margin-left: 1rem;
}

.card_subject {
    width: 16rem;
    height: auto;
    display: inline-block;
    margin: 1rem;
}

.card_subject img {
    width: 100%;
    height: 9rem;
}

.chapters {
    color: #E91E63;
}

.btn_demo{
    margin:1rem
}

.course_purchase_info {
    display: none;
}

.container_root {
    overflow: hidden;
    position: relative;
}

.container_demo {
    position: absolute;
    width: 100vw;
    left: 100vw;
    top: 0;
    transition: all 0.5s ease-in-out;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container_demo_data{
    flex: 1;
    overflow-y: scroll;
    background-color: #FAFAFA;
}

.btn_close_demo{
    float: right;
    margin: 2rem;
}

.title_demo{
    color: #FAFAFA;
    display: inline-block;
}



