.container_user_info{
    overflow: hidden;
    background-color: aliceblue;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

.btn_log_out{
    float: right;
    top: 0;
    font-size: 2rem;
    cursor: pointer;
}

.card_course{
    margin: 1rem;
    display: inline-block;
    border-radius: 4px;
    width: 16rem;
}

.course_img{
    width: 100%;
    height: 14rem;
}

.course_price{
    display: inline-block;
    font-weight: bold;
    font-size: 0.9rem;
    color: #323232;
}

.course_subjects{
    margin-left: 1rem;
}

