.container_login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 2rem;
}

.container_info {
    padding: 2rem;
    width: 28rem;
}

.container_info * {
    float: right;
    clear: right;
}

.logo_sahas {
    width: 18rem;
    height: auto;
}

.edittext {
    display: block;
    width: 100%;
}

.container_credentials {
    text-align: center;
    width: 25rem;
}

.btn_purple {
    width: 100%;
}

.btn_pink {
    width: 100%;
}

.container_device {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 0.5rem;
    font-weight: bold;
}

.error {
    display: none;
}

.forget_password_container {
    text-align: right;
}

.btnForgetPassword {
    font-size: 1rem;
    color: #E91E63;
    font-weight: bold;
    border: none;
    background-color: #FAFAFA;
}

.forgetPasswordModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    border-radius: 1rem;
}

.title_primary {
    font-size: 2rem;
}

.logo_emailVerification{
    width: 100%;
    height: 100%;
}

.container{
    display: flex;
    gap: 2rem;
    text-align: center;
}

.otp-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.otp-input {
    width: 100%;
    height: 50px;
    margin-right: 10px;
    font-size: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    letter-spacing: 1rem;
}

.container_buttons{
    display: flex;
    gap: 2rem;
}

.container_otpVerification{
   text-align: center;
}